.App-header {
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 5vh;
    text-align: center;
    font-size: calc(10px + 3vmin);
}

.form-by-name label, input, select, div {
  display: block;
  margin: auto;
  text-align: center;
}

.form-by-name label {
  margin: 2vh;
}
